body {
    background-color: rgb(164, 168, 167);
    padding: 50px;
    border-bottom-style: solid black;
    display: inline;
    border-top-style: solid gray;
}


header {
    padding: 2px;
    color: white;
    border: 1px solid green;
    width: 250px;
    text-align: center;
    background-color: aquamarine;
}


img {
    float: left;
    width: 30%;
    height: 30%;
}




